.cards {
  max-width: 880px;
  width: calc(100% - 40px);
  margin: auto;
  padding: 0 20px 0;
}

.cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  margin: 0;
  padding: 50px 0 0;
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 620px) {
  .cards__list {
    padding: 0;
  }
}
