@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/footer.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);

@media screen and (max-width: 770px) {
  .profile__name {
    font-size: 22px;
  }
  .profile__subtitle {
    font-size: 14px;
    max-width: 350px;
  }
  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    margin: 28px auto 0;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin-bottom: 32px;
  }
  .profile {
    flex-direction: column;
    padding-top: 42px;
  }

  .profile__name {
    max-width: 196px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    max-width: 282px;
    padding: 30px 0 0;
    justify-content: center;
  }
  .profile__add-button {
    width: 282px;
    margin: 36px auto;
  }
  .cards__list {
    padding: 0;
  }
}
